.modal {
	width: 16rem;
}

.ratesArea {
	margin-top: 15px;
}

.ratesList {
	display: flex;
  overflow: auto;
	margin-top: 0.5rem;
	padding-block: 5px;
}

.rates {
	border: none;
  margin: auto;
  display: block;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 20px;
	margin-inline: 1rem;
	border-radius: 10px;
  margin-block: 0.75rem;
  border: 2px solid #129575;
}

.searchButton {
	border: none;
  margin: auto;
  display: block;
  color: white;
  font-size: 20px;
  cursor: pointer;
	padding: 10px 20px;
	border-radius: 10px;
  margin-block: 0.75rem;
	background-color: #129575;
}