form {
	display: flex;
	margin-top: 2.5rem;
	align-items: center;
	flex-direction: column;
}

.checkbox-area {
	margin-top: 10px;
}

.checkbox-area input {
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid #FF9C00;
}

.checkbox-area label {
	cursor: pointer;
	color: #FF9C00;
	margin-left: 5px;
	font-weight: bold;
}

form button {
	border: none;
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-top: 25px;
	padding: 10px 40px;
	border-radius: 10px;
	background-color: #129575;
}

.navigation-are {
	display: flex;
	font-size: 15px;
	margin-top: 20px;
	align-items: center;
}

.navigation-are .navigation {
	cursor: pointer;
	color: #FF9C00;
	margin-left: 5px;
	font-weight: bold;
}