.container {

}

.inputArea {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button {
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
	margin-top: 3rem;
	padding: 8px 18px;
	border-radius: 10px;
	background-color: #129575;
}

.list {

}

.element {
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
}

.text {
	width: 90%;
	font-size: 18px;
}

.delete {
	
}
