.container {
	width: 80%;
	margin: auto;
	margin-top: 1rem;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	justify-content: space-around;
}

.title {
	
}

.ammount {
	color: #A9A9A9;
}

.list {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.error {
	color: red;
	margin-top: 5rem;
	text-align: center;
}