@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		transform: translateX(0%);
	}
	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

.el-exit-active {
	animation: fade-out 500ms forwards;
}

.el-enter-active {
	animation: fade-in 500ms forwards;
}