.recipe-list-enter {
  opacity: 0;
  transform: scale(0.9);
}
.recipe-list-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s, transform 1s;
}
.recipe-list-exit {
  opacity: 1;
}
.recipe-list-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s, transform 1s;
}