.header {
	display: flex;
	padding: 15px 30px;
	align-items: center;
	background-color: #D9D9D9;
	justify-content: space-between;
}

.nav {
	width: 7rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}