.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.navigation {
	display: flex;
	margin-top: 1rem;
	align-items: center;
	justify-content: center;
}

.type {
	margin: 20px;
	border: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 10px;
}

.type:hover {
	background-color: #084737;
}

.button {
	border: none;
	margin: auto;
	display: block;
	color: white;
	font-size: 20px;
	cursor: pointer;
	padding: 15px 20px;
	margin-block: 1rem;
	border-radius: 10px;
	background-color: #129575;
}