.container {
	display: flex;
	padding-top: 3rem;
	align-items: center;
	flex-direction: column;
}

.profileActionArea {
	top: 6rem;
	width: 18rem;
	display: flex;
	margin-top: 3rem;
	position: absolute;
  align-items: center;
  justify-content: space-between;
}

.profileActionIcon {
	cursor: pointer;
}

.form {
	display: flex;
	margin-top: 2.5rem;
	align-items: center;
	flex-direction: column;
}

.button {
	border: none;
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-top: 25px;
	padding: 10px 40px;
	border-radius: 10px;
	background-color: #129575;
}