.header {
	display: flex;
	align-items: center;
	padding: 1rem 1.5rem;
	background-color: #D9D9D9;
	justify-content: space-between;
}

.navigation {
	right: 0px;
  width: 5rem;
	z-index: 10;
	display: flex;
	position: absolute;
	align-items: center;
  padding-block: 0.5rem;
	background-color: #D9D9D9;
	justify-content: space-between;
	flex-direction: column-reverse;
  border-bottom-left-radius: 15px;
}

.navigation > a {
	margin-block: 0.5rem;
}